* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  font-size: small;
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: space-between;
}
.logo-text {
  display: flex;
  gap: 20px;
  align-items: left;
}
.title {
  text-wrap: nowrap;
}
.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-img {
  padding-right: 30px;
  padding-left: 30px;
}
.hero-title {
  text-align: center;
  font-size: xx-large;
}
.accent {
  color: #e165ad;
}
.hero-button {
  background-color: #5a59ce;
  font-size: 12px;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.top_tittle {
  color: #e165ad;
  padding: 20px 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}
.cajas_top {
  border-radius: 30px;
  list-style: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.2);
}
.list_top {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.cajas_img {
  width: 100%;
}
.caja_madre {
  padding: 35px;
}
.lorem {
  margin: 10px;
  padding-left: 20px;
  font-weight: bold;
}
.dolar {
  margin: 10px;
  padding-left: 20px;
  color: #e165ad;
  font-weight: bold;
}
/* parte ingra */
.señora {
  width: 100%;
  padding: 15px;
}

.side-señora {
  display: none;
}

/* Parte Maria Jose  */

.iglesia {
  width: 100%;
  padding: 25px;
}

.titulo-rosa {
  color: #f85e9f;
  text-align: center;
  letter-spacing: 3px;
}

.titulo-negro {
  text-align: center;
  font-size: 44px;
  line-height: 1.2;
}

.iglesia {
  display: block;
}

.icono-servicio {
  width: 80px;
  height: 80px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icono-servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.icono-naranja {
  background-color: #ff5722;
}

.icono-amarillo {
  background-color: #facd49;
}

.icono-rosa {
  background-color: #f85e9f;
}
.destacado {
  border: 1px solid #19182519;
}

.lista-iconos {
  padding: 32px;
  margin: 20px;
}

.lista-servicios {
  list-style: none;
}

.lorem-s {
  margin-top: 20px;
  font-size: 24px;
  color: #191825;
}

.texto-lorem {
  color: #19182580;
  margin-top: 20px;
  font-size: 18px;
}
/*Fin  parte maria josé */

.nav-menu {
  display: none;
}

.nav-list {
  display: none;
  align-items: center;
  gap: 40px;
  color: black;
  list-style: none;
  justify-content: flex-end;
  text-wrap: nowrap;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* A PARTIR DE AQUÍ VERSIÓN ESCRITORIO */

@media (width >= 1000px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: block;
  }

  .nav-list {
    display: flex;
  }

  .menu {
    display: none;
  }
  .a-menu {
    color: black;
    text-decoration: none;
    gap: 20px;
  }
  .a-menu-negrita {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .hero-title {
    text-align: left;
  }

  .hero-button {
    width: fit-content;
  }

  .hero-content {
    text-align: left;
    align-items: flex-start;
  }

  /* parte Jenny*/

  .list_top {
    flex-direction: row;
    justify-content: center;
  }
  .top_tittle {
    padding-top: 100px;
    justify-content: left;
    display: flex;
    padding-left: 50px;
  }

  .caja-madre img {
    width: 30%;
  }

  /*ingra*/

  .side-señora {
    display: block;
  }

  .maleta {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 24px 0;
  }

  .travel-point {
    list-style-type: none;
  }

  .bebefits {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }

  .señora {
    padding: 0%;
    width: 65%;
  }

  .travel {
    color: #e165ad;
    font-weight: bold;
    max-width: 100%;
    letter-spacing: 5px;
    padding: 0px 0px 10px 0px;
  }

  .lorem-t {
    font-weight: bold;
    font-size: x-large;
    padding: 0px 0px 20px 0px;
  }

  .benefits-cajas {
    width: 120px;
    height: 90px;
    flex: 1px;
    display: inline-block;
    border: 0.5px solid rgb(217, 212, 212);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .numero-naranja {
    font-weight: bold;
    font-size: larger;
    color: orangered;
    padding: 0px 0px 10px 0px;
  }

  .letras-debajo {
    font-weight: lighter;
    font-size: 11px;
  }

  /*. seccion Maria Jose */

  /* SECCIÓN GENERAL */
  .logos {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
  }

  /* IMAGEN DE LA IGLESIA */
  .iglesia {
    width: 50%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  .logos-content {
    width: 50%;
  }

  .lista-iconos {
    display: flex;
  }

  .icono-servicio {
    margin-right: 32px;
  }
  /* FIN de la seccin Maria Jose */
}
