* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  font-size: small;
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: space-between;
}
.logo-text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title {
  text-wrap: nowrap;
}
.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-img {
  padding-right: 30px;
  padding-left: 30px;
}
.hero-title {
  text-align: center;
  font-size: xx-large;
}
.accent {
  color: #e165ad;
}
.hero-button {
  background-color: #5a59ce;
  font-size: 12px;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.2);
}
.top_tittle {
  color: #e165ad;
  padding: 20px 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}
.cajas_top {
  border-radius: 30px;
  list-style: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 30px 25px 0px rgba(0, 0, 0, 0.2);
}
.list_top {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.cajas_img {
  width: 100%;
}
.caja_madre {
  padding: 35px;
}
.lorem {
  margin: 10px;
  padding-left: 20px;
  font-weight: bold;
}
.dolar {
  margin: 10px;
  padding-left: 20px;
  color: #e165ad;
  font-weight: bold;
}
/* parte ingra */
.señora {
  width: 100%;
  padding: 15px;
}
.iglesia {
  width: 100%;
  padding: 25px;
}

.nav-menu {
  display: none;
}

.nav-list {
  display: none;
  align-items: center;
  gap: 20px;
  color: black;
  list-style: none;
  justify-content: flex-end;
  text-wrap: nowrap;
}

/* A PARTIR DE AQUÍ VERSIÓN ESCRITORIO */

@media (width >= 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: block;
  }

  .nav-list {
    display: flex !important;
    gap: 40px;
  }

  .menu {
    display: none;
  }
  .a-menu {
    color: black;
    text-decoration: none;
    padding-right: 30px;
  }
  .a-menu-negrita {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
/* parte maria josé */
.icono-servicio {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.icono-naranja {
  background-color: #ff5722;
}
.icono-amarillo {
  background-color: #facd49;
}
